<div class="modal-wrapper">
  <form action="" method="post">
    <label for="email">Share cycle with a new Customer:</label>
    <input id="email" type="text" name="email">
    <label for="message">Want to include a message with the invite?</label>
    <input id="message" type="text" name="message">
    <p>You are about to share with the individuals above:</p>
    <p><%= cycle.name %></p>
    <input type="submit" value="Send Invitation">
  </form>
</div>
