document.querySelector('.modal__content').innerHTML = `
  <div class="modal__card">
    <form action="" method="post", data-remote="true">
      <label for="email">Share cycle with a new Customer:</label>
      <input id="email" type="text" name="email" value="Email Addresses...">
      <hr>
      <label for="message">Want to include a message with the invite?</label>
      <input id="message" type="text-area" name="message" value="Please enter your message...">
      <hr>
      <p class="modal__info">You are about to share with the individuals above:</p>
      <p class="modal__cycle-name">– cycle.name?</p>
      <hr>
      <input type="submit" value="SEND INVITATION">
    </form>
  </div>
`
const modal = document.querySelector('#modal')
<%# modal.classList.remove('--hidden') %>

modal.open()
