.modal {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.--hidden{
  opacity: 0;
  pointer-events: none;
}

.modal__card {
  position: relative;
  border-radius: 3px;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  background-color: #262626;
}

.modal__content {
}

.modal__close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.modal__flashy-close-button {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--primary-color);
}
